
@keyframes cursor-blink {
    from {
        background: #333;
    }
    45% {
        background: #333;
    }
    55% {
        background: transparent;
    }
    to {
        background: transparent;
    }
}

.highlighter-source {
    color: transparent;
}

.highlighter-source::selection {
    background: #d8e6ff;
}
.highlighter-source::-moz-selection {
    background: #d8e6ff;
}

.highlighter {
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    overflow: hidden;
}

.highlighter-box {
    height: 100%;
}

.highlighter-add {
    position: relative;
    float: left;
    height: 100%;
    z-index: 2;
}

.highlighter-add * {
    position: absolute;
}

.highlighter-add *.hidden {
    display: none;
}

.highlighter-cursor {
    width: 1px;
    height: 100%;
    z-index: 9;
    animation: cursor-blink 1.2s 0s linear infinite;
}

.highlighter-bracket-match {
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 1;
}

.highlighter-main {
    white-space: nowrap;
    z-index: 1;
}

.highlighter-measurer {
    visibility: hidden;
    white-space: nowrap;
}

.highlighter-bracket-small {
    color: #58d;
}
.highlighter-bracket-middle {
    color: #4a4;
}
.highlighter-letter-datum {
    color: #9c9;
}
.highlighter-letter-unknown {
    color: #46c;
}
.highlighter-function {
    color: #4dd;
}
.highlighter-number {
    color: #b6b;
}
.highlighter-symbol {
    color: #ea3;
}
.highlighter-error {
    color: #f00;
}
