
* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 8px;
}

.main > div {
    margin-bottom: 10px;
}

input.expr-box {
    width: 100%;
    padding: 4px 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 40px;
    font-size: 30px;
    font-family: sans-serif;
    outline: none;
    transition: all linear .25s 0s;
}
input.expr-box:hover {
    border-color: #98cdff;
    box-shadow: 0 0 2px #98cdff;
}
input.expr-box:focus {
    border-color: #7dc0ff;
    box-shadow: 0 0 3px #7dc0ff;
}

span.ui-btn {
    display: inline-block;
    min-width: 4em;
    margin-right: 6px;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f0f2f7;
    color: #666;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 15px;
    cursor: default;
    user-select: none;
    transition: all linear .25s 0s;
}

span.ui-btn:hover {
    background: #ebedf3;
    color: #246;
    box-shadow: 0 0 2px #ccc;
}

span.ui-btn:active {
    background: #e6e8ee;
}

span.ui-btn.inverted {
    background: #3d9eff;
    color: #fff;
}

div#info {
    width: fit-content;
    padding: 6px;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
    font-family: Consolas, monospace;
    white-space: pre;
}

.info-message {
    border: 1px solid #bbb;
    background: #eee;
    color: #333;
}

.info-success {
    border: 1px solid #4b7;
    background: #efe;
    color: #264;
}

.info-error {
    border: 1px solid #c33;
    background: #fee;
    color: #d00;
}

